{% extends '::base.html.twig' %}

{% block body %}

{% include 'PlayMainBundle:game-core:navbar.html.twig' %}

    <div class="container-fluid">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Ressources</div>
                    <div class="panel-body">

                    </div>
            </div>
        </div>
    </div>
{% endblock %}
